<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>


    <ion-title>
      mensajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <form (ngSubmit)='agregar_mensaje()'>
  
    
    <ion-item>
      <ion-label>email: </ion-label>
      <ion-input type="text" name="user.email" [(ngModel)]="email"></ion-input>

    </ion-item>
      <ion-item>
        <ion-label>nombre: </ion-label>
        <ion-input type="text" name="user.nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label>Mensaje: </ion-label>
      <ion-input type="text" name="user.mensaje" [(ngModel)]="mensaje"></ion-input>
    </ion-item>

  
    <ion-button type='submit' >Registrar Nuevo Video juego</ion-button>
  
</form>





  <!-- 
      id?:string;
  email:string;
  mensaje:string;
  nombre:string;
  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
